# Core RAG Pipeline
unstructured[pdf]
pytesseract
transformers
pillow
torch
bitsandbytes
qwen_vl_utils
sentence-transformers
psycopg2-binary
python-dotenv
bm25s

# Vector Database
pgvector

# LLM / API
google-generativeai

# Backend (FastAPI)
fastapi
uvicorn

# Frontend (Streamlit)
streamlit
requests

# Evaluation
deepeval
evaluate
bert-score
rouge_score
numpy
matplotlib